<ion-item *ngFor="let motoo of motos" (click)="detalleMoto(motoo)">
  
  <ion-avatar slot="start">
    <ion-img [src]="motoo.foto"></ion-img>
  </ion-avatar>

  <ion-label>{{ motoo.modelo }}</ion-label>

</ion-item>
